* {
  margin: 0;
  padding: 0;
}

body {
  color: #485d6f;
  font-family: "Montserrat", "montserrat", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.65;
  min-width: 320px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 60px;
}

.main-header nav li {
  display: inline;
  color: #485d6f;
  padding-right: 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-header a:hover {
  color: #ff7058;
}

.main-header a:active {
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.img-logo {
  width: 200px;
  padding-top: 40px;
}

.main-topics {
  display: flex;
  justify-content: center;
  background: #263b4d;
  height: 180px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.main-topics h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0.9px;
}

.main-topics a {
  color: #2db39a;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
}

.main-topics a:hover {
  color: #fff;
}

h3 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1.3px;
  line-height: 60px;
  display: block;
  -webkit-font-smoothing: antialiased;
  margin-top: -3px;
  margin-bottom: 29px;
}

h3 + p {
  color: #485d6f;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 30px;
  text-align: justify;
  box-sizing: border-box;
  margin-top: 18px;
  margin-bottom: 18px;
}

.main-whoweare {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 7%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.whoweare-text {
  margin-right: 85px;
}

.main-whatmakesusunique {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 7%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 70px;
}

.whatmakesusunique-text {
  margin-right: 34px;
  margin-left: 34px;
  padding-left: 75px;
  padding-right: 15px;
}

.main-whyjoindiversido {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 7%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 70px;
  margin-top: 70px;
}

.whyjoindiversido-text {
  margin-right: 85px;
}

.img-whoweare {
  width: 670px;
  height: 430px;
}

.img-whatmakesus {
  width: 670px;
  height: 447px;
}

.img-whyjoindiversido {
  width: 670px;
  height: 430px;
}

.red-word {
  color: #ff7058;
  font-weight: inherit;
}

.main-openpositions {
  background: #263b4d;
  margin-bottom: 50px;
  height: 750px;
}

.open-word {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-family: "satisfy", sans-serif;
  font-size: 30px;
  font-weight: 400;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.positions-word {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 2.08;
  text-transform: uppercase;
  font-family: "Montserrat", "montserrat", sans-serif, sans-serif;
}

ul {
  margin: 50px;
  list-style-type: none;
}

.dev-name {
  color: #17a086;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 3px;
}

.dev-placetowork {
  color: #485d6f;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
}

.flutter-dev-link {
  padding-right: 950px;
}

.fs-dev-link {
  padding-right: 860px;
}

.asp-dev-link {
  padding-right: 950px;
}

.apply-now {
  color: #17a086;
  font-size: 100%;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-bottom: 3px;
}

.name-positions {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #fff;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}

.dontsee-positions {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
  text-align: center;
}

.dontsee-word {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-family: "satisfy", sans-serif;
  font-size: 30px;
  font-weight: 400;
  -webkit-box-pack: center;
  justify-content: center;
}

.dontsee-word + h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 2.08;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", "montserrat", sans-serif, sans-serif;
}

.openposition-text {
  display: flex;
  justify-content: center;
  letter-spacing: 0.8px;
  line-height: 36px;
  font-family: "Montserrat", "montserrat", sans-serif, sans-serif;
  font-size: 18px;
  margin: 20px;
  color: #fff;
  width: 50%;
  flex-direction: column;
  text-align: center;
  padding-left: 320px;
}

.dontsee-positions-text {
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 50%;
  flex-direction: column;
  text-align: center;
  padding-left: 320px;
  letter-spacing: 0.7px;
  line-height: 36px;
  font-size: 18px;
}

.jobs-link {
  background: #fff;
  margin-top: 15px;
  padding: 30px;
}

.jobs-link:hover {
  background: #17a086;
}

.jobs-link:hover .dev-name {
  color: #fff;
}

.jobs-link:hover .dev-placetowork {
  color: #fff;
}

.jobs-link:hover .apply-now {
  color: #fff;
}

.diversido-jobs-mail {
  display: flex;
  justify-content: center;
  color: #ff7058;
  font-size: 60px;
  font-weight: 700;
}

.diversido-jobs-mail:hover {
  color: #fa5b3e;
}

.hire-join {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
}

.hire-us-main {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #485d6f;
  line-height: 2;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.join-us-main {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #485d6f;
  line-height: 2;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.hire-us-text {
  color: #485d6f;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2;
  text-align: center;
  text-transform: none;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
}

.join-us-text {
  color: #485d6f;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 2;
  text-align: center;
  text-transform: none;
  z-index: 30;
  -webkit-font-smoothing: antialiased;
}

.hire-me {
  width: 100%;
  border: 1px solid #eaeaea;
  background: #f6f6f6;
  height: 200px;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.hire-me:hover {
  background: #ff7058;
}

.hire-me:hover .hire-us-main {
  color: #fff;
}

.hire-me:hover .hire-us-text {
  color: #fff;
}

.join-me {
  width: 100%;
  border: 1px solid #eaeaea;
  background: #f6f6f6;
  height: 200px;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.join-me:hover {
  background: #ff7058;
}

.join-me:hover .join-us-main {
  color: #fff;
}

.join-me:hover .join-us-text {
  color: #fff;
}

.hire-text {
  padding-top: 50px;
}

h1 {
  color: #fff;
}

a {
  text-decoration: none;
}

.go-up-img {
  height: 60px;
}

.top-link {
  position: fixed;
  right: 10px;
  top: 80%;
  padding: 3px;
}

.top-link:hover {
  background: #ff9987;
  border-radius: 20%;
}
