* {
  margin: 0;
  padding: 0;
}

body {
  color: #485d6f;
  font-family: "Montserrat", "montserrat", sans-serif, sans-serif;
  font-size: 18px;
  line-height: 1.65;
  min-width: 320px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
